@import url("https://fonts.googleapis.com/css?family=Montserrat:500");


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1100px){

    .container-body{
        flex-wrap: wrap;
    }

    .video-contenedor{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 715px){

    .container-body{
        flex-wrap: wrap;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #18181B;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #18181B;
  }

  ::-webkit-scrollbar-thumb {
    background: #aeffae;
    border-radius: 10px;
  }

a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color:rgb(255, 255, 255);
}
a:hover{
    color: rgb(3, 3, 3);

}

/*Logo Header*/

.logo{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 150px;
    padding: 20px;
}
/*Menus desplegables*/

.menu, .submenu{
    list-style: none;
    padding: 0%;
    margin: 0px;
}

.menu{
    background: #18181B;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu_link{
    display: block;
    padding: 13px;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.menu_link:hover{
    background: #aeffae;
    border-radius: 6px;
}
.submenu .menu_link:hover{
    background: #aeffae;
}
.submenu{
    height: 0%;
    overflow: hidden;
    transition: all 0.2s;
}
.submenu .menu_link{
    background: #18181B;
    padding-left: 40px;
}

@media(min-width:1024px){
    .menu{
        margin: auto;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .container-submenu{
        position: relative;
        
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 300px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        justify-content: space-around
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }

    /*SECCIONES*/

    section{
        height: 250px;
        display: flex;
        margin: 50px;
        padding: 20px;
        align-items: center;
    }

    .noticialeakwow{
        text-align: center;
    }


    section h1{
        color:#0bda61;
        font-size: 20px;
        text-align: center;
    }

    section p{
        color: white;
        font-size: large;
        text-align: center;
        margin: 15px;
    }

    .fotoleakwow{
        border: solid #09ac4a;
        border-radius: 7px;
        border-width: 4px;
    }

    .noticiaea {
        border: solid #09ac4a;
        border-radius: 7px;
        border-width: 4px;
    }
    section a{
        font-size: 17px;
        display: relative;
        padding: 7px;
        text-decoration: none;
        width: 100px;
        border: 2px solid #09ac4a;
        text-align: center;
    }
    
    section img{
        height: auto;
        width: 400px;
    }


    /*FIN SECCIONES*/

    /*LOGIN*/

    .boton_login{
    display: inline-block;
    padding: 3px 0;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 0px solid #0000;
    border-radius: 8px;
    background-image: linear-gradient(15deg, #13f383fd, #0bda61);
    }

    .boton_registro{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align:center;
    border: 1px solid #0000;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #47f09bfd, #09ac4a);
    }

    .header{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%;
        grid-template-areas: "logo menu login";
        justify-content: center;
        align-items: center;
        background: #18181B;
        width: 100%;
        height: 75px;
    }


    .logotipocabecera{
        width: 75%;
        height: auto;
        padding: 15px;
    }

    .contenedor_imagen{
        display: flex;
        justify-content: center;
        grid-area: logo;
    }

    .contenedor_manu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: menu;
    }

    .contenedor_login{
        display:flex;
        justify-content: center;
        margin-left:20px;
        grid-area: login;
    }

    .contenedor_registro{
        display:flex;
        justify-content: center;
        margin-left:20px;
        grid-area: login;
    }
    
    .video-contenedor{
        margin-left: 70%;
        margin-top: 24%;
        top: 100px;
        opacity: 35%;
    }
     
    }