*{margin:0;padding:0;box-sizing:border-box;font-size:0;}  
nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}

h2{
    color: black;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scrollbar-base-color: cadetblue;
    background-image: linear-gradient(180deg, #4d4d4d 0%, #3a3a3a 100%);
}
section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}
section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5;
}
section p{
    /*font-weight: 300;*/
    margin-bottom: 15px;
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align:center;
    border: 1px solid #0000;
    border-radius: 50px;
    background: pink;
}

section img{
    height: 60%;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #18181B;
  }

  ::-webkit-scrollbar-thumb {
    background: #aeffae;
    border-radius: 10px;
  }

.imagen{
    width: 200px;
    height: 200px;
}



