@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
h2{
    color: black;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}
    

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scrollbar-base-color: cadetblue;
    background-color: #18181B;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #18181B;
  }

  ::-webkit-scrollbar-thumb {
    background: #aeffae;
    border-radius: 10px;
  }

a:link{
    color: rgb(255, 255, 255);
}
a:visited{
    color:rgb(255, 255, 255);
}
a:hover{
    color: rgb(3, 3, 3);

}

/*Logo Header*/

.logo{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 150px;
    padding: 20px;
}
/*Menus desplegables*/

.menu, .submenu{
    list-style: none;
    padding: 0%;
    margin: 0px;
}

.menu{
    background: #18181B;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu_link{
    display: block;
    padding: 13px;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.menu_link:hover{
    background: #aeffae;
    border-radius: 6px;
}
.submenu .menu_link:hover{
    background: #aeffae;
}
.submenu{
    height: 0%;
    overflow: hidden;
    transition: all 0.2s;
}
.submenu .menu_link{
    background: #18181B;
    padding-left: 40px;
}


@media(min-width:1024px){
    .menu{
        margin-left: 0;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .container-submenu{
        position: relative;
        
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 300px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        justify-content: space-around
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }

    .boton_login{
    display: inline-block;
    padding: 3px 0;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 0px solid #0000;
    border-radius: 8px;
    background-image: linear-gradient(15deg, #13f383fd, #0bda61);
    }

    .boton_registro{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align:center;
    border: 1px solid #0000;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #47f09bfd, #09ac4a);
    }

    .header{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%;
        grid-template-areas: "logo menu login";
        justify-content: center;
        align-items: center;
        background: #18181B;
        width: 100%;
        height: 75px;
    }


    .logotipocabecera{
        width: 75%;
        height: auto;
        padding: 15px;
    }

    .contenedor_imagen{
        display: flex;
        justify-content: center;
        grid-area: logo;
    }

    .contenedor_manu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: menu;
    }

    .contenedor_login{
        display:flex;
        justify-content: center;
        margin-left:20px;
        grid-area: login;
    }

    .contenedor_registro{
        display:flex;
        justify-content: center;
        margin-left:20px;
        grid-area: login;
    }
    
    .video-contenedor{
        margin-left: 70%;
        margin-top: 24%;
        top: 100px;
        opacity: 35%;
    }
    .video-text{
        z-index: 2;
    }
    .video-text h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        margin-bottom: 0;
        color: white;
        margin: 180px;
        margin-top: -55px;
        
    }

    .video-text h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        right: 600px;
        position: absolute;
        bottom: 350px;
        right: 550px;
        color: #0bda61;
    }

    .video-text p{
        font-size: 30px;
        color: white;
        position: absolute;
        text-align: center;
        margin-right: 300px;
        top: 350px;
    }

    .caja-video{
        border: solid #09ac4a;
        border-radius: 0.7%;
        width: 902px;
        height: 383px;
        position: absolute;
        right: 225px;
        top: 165px;
        
        
    }